#heading{
    padding-left: 450px;
    font-size: 50px;
    text-decoration: underline;
    color: crimson;
}
*{
margin: auto;
padding: 10px;
padding-bottom: 10px;
padding-left: 10px;
margin-bottom: 55px;
}
table th{
    background-color: cornflowerblue;
    font-size: 25px;
}
table,th,td{
    border:5px double black;
    border-collapse: collapse;
}
table td{
    font-size: 20px;
}
